*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background:  linear-gradient(rgba(0,0,0,0.5),#353636), url(images/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 2%;
    left: 6%;
    cursor: pointer;
}

.banner-text{
    text-align: center;
    color: aliceblue;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 130px;
    font-family: 'Sono', sans-serif;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
    align-items: center;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color:#000;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #353636;
    z-index: 2;
    transition: 0.5s;
}
 nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    
}
#menubtn{
    width:50px ;
    height: 50px;
    background: #353636;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width) {
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin:20px auto;
    }
}
/*--feature--*/
#about{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding: 70px;
}
.title-text h1{
    margin:auto;
    font-size: 60px;
    color: #353636;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#353636,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text p{
    font-size: 20px;
}
/*--brands--*/
#brands{
    align-items: center;
    justify-content: center;
}

.sec-heading {
	text-align: center;
    padding: 70px;
}
.sec-heading h1 {
    margin:auto;
    font-size: 60px;
    color: #353636;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.sec-heading h1::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#353636,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.clients {
	padding: 70px 0;
    width: 100;
}
.box {
	display: grid;
	align-items: center;
	justify-items: center;
	width: 60%;
	height: auto;
	transition: transform .5s ease-in;
	margin: 8px auto;
}
.box img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}
.box:hover {
	transform: scale(1.2);
}
/*footer*/
#foot{
    padding-top: 100px;
}
.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #353636;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #353636;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0px;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;

}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #000;
}
/*-----login form-----*/

